*{
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: url('https://images.unsplash.com/photo-1564890379370-2cf3df59dfb9?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D://imahttps://images.unsplash.com/photo-1485291571150-772bcfc10da5?q=80&w=3328&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dges.unsplash.com/photo-1485291571150-772bcfc10da5?q=80&w=3328&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

.logo i {
    font-size: 24px;
    color: white;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

/* HEADER */
header {
    position: relative;
}

.navbar {
    width: 100%;
    height: 60%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}


/* LOGIN */
.login-container {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 50px 30px;
    overflow: hidden;
    background: rgb(178, 179, 178);
    border-radius: 10px;
    z-index: 2;
}

h2{
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
    padding-bottom: 40px;
}

p a{
    text-decoration: underline;
    padding-left: 5px;
}

.login-container .form-group1{
    display: flex;
    align-items: center;
}

.login-container .form-group2{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* Ver password */
.password-toggle {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 56%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password i {
    color: #888;
}

.toggle-password.active i {
    color: #333; /* Cor do ícone quando a senha está visível */
}

/* Ver Password end */

.login-container .form-group#username{
    align-items: center;
}

.login-container .form-group#password{
    align-items: center;
}

.login-container .form-group i{
    margin-right: 10px;
    font-size: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input#username{
    margin-left: 5px;
}

input#password{
    margin-left: 10px;
}

/* Botão Log in */
.login-container button{
    width: 70px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover{
    background-color: #3a666a;
}
/* Botão Log in end */

.login-container p{
    color: #fff;
    font-size: bold;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.login-container a{
    color: rgb(255, 255, 255);
}

.login-container a:hover{
    color: #000;
    border-bottom: white;
}